body{
    display:block;
    margin:0 auto;
    width:80%;
}

.image-bg {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
                      url(./resume_bg.png)
}


.title{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 80px;
    background-color:#E59560;
    margin-bottom: 20px;
}

.container{
    margin-bottom: 20px;
    padding: 0 0 20px 0;
}

.subtitle{
    background-color:rgba(210, 233, 255, 0.7);
    border-radius: 0px 30px 30px 30px;
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
}

.content{
    background-color:#FFFFFF;
    border-radius: 30px 30px 0 30px;
    margin: 0 10px 0 10px;
    padding: 20px 10px 10px 20px;
}

ul{
    padding-left: 20px;
}